<div class = "nav-marg">
<nav class="navbar navbar-expand-md  bg-warning">
  <a class="navbar-brand"> Site d'Entrainement </a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">
      <a routerLink = "/football" class="nav-item nav-link ">football</a>
      <a href="#" class="nav-item nav-link disabled">Basket-ball</a>
      <a href="#" class="nav-item nav-link disabled">Hand-ball</a>
      <a href="#" class="nav-item nav-link disabled">Rugby</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" routerLink = "/login">Login</a>
      <a class="nav-item nav-link" routerLink = "/register">register</a>
      <a class="nav-item nav-link" routerLink = "/login">Logout</a>
    </div>
  </div>
</nav>
</div>